<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
	<script th:src="${'https://www.google.com/recaptcha/api.js?render='+@environment.getProperty('google.recaptcha.key.site')}"></script>
</head>
<body>
	<form id="mainForm" method="POST" action="/captcha" enctype="multipart/form-data" autocomplete="off">
    	<section class="form-input-block">
            <div class="input-label">帳號/Email</div>
            <div class="input-area">
            	<input type="text" name="email" placeholder="請輸入帳號"/>
            </div>
        </section>
        <section class="form-input-block">
        	<div class="input-label">密碼</div>
            <div class="input-area">
            	<input type="password" name="password" placeholder="請輸入密碼"/>
            </div>
        </section>
       	<input type="hidden" id="siteKey" th:value="${@environment.getProperty('google.recaptcha.key.site')}"/>
       	<input type="hidden" id="token" name="g-recaptcha-response"/>
        <button type="button" id="btnSubmit">送出</button>
    </form>
    <script>
    	document.getElementById("btnSubmit").addEventListener("click", function() {
    		grecaptcha.ready(function() {
		    	grecaptcha.execute(document.getElementById("siteKey").value, {action : "captcha"}).then(function(token) {
					// 將token 送到後端做驗證
					document.getElementById("token").value=token;
					document.getElementById("mainForm").submit();
			    });
			});
    	});
    </script>
</body>
</html> 